*.a
*.d
*.o
*.gch
*.bak
*.orig
tags
depend
depend.bak
bochs/bochsimg
bochs/bochsout.txt
bochs/debugger.out
bochs/files/kernel
bochs/myfs.img
boot/mbr/mbr.S
boot/bootimage
boot/mbr/mbr.elf
boot/mbr/mbr.img
boot/smallboot/smallboot.img
boot/smallboot/smallboot.img.elf
bootimage/bochsrc.txt
bootimage/disk_image
bootimage/files/*
bootimage/myfs.img
kern/cscope.*
kern/kernel
kern/include/arch
kern/core/vers.c
